@model FinanceManager.Models.Purchase

@using (Html.BeginForm("Create", "Purchases", FormMethod.Post, new { enctype = "multipart/form-data", id = "purchase-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfProducts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfProducts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfProducts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.UOM, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UOM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="image-tag">Image</label>
            <div class="col-md-10">
                <input type="file" name="Image" id="image-tag" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="select-purchase-category" class="form-control" name="PurchaseCategory">
                    <option value="0">---Select Category---</option>
                    @foreach (var x in @ViewBag.PurchaseCategories)
                    {
                        <option value="@x.ID">@x.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseEventCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="select-purchase-event-category" class="form-control" name="PurchaseEventCategory">
                    <option value="0">---Select Event---</option>
                    @foreach (var y in @ViewBag.PurchaseEventCategoires)
                    {
                        <option value="@y.ID">@y.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="purchase-create-submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}